---
- name: Configure All Interfaces by Role
  hosts: device_roles_user_access_switch
  gather_facts: no
  become: yes
  become_method: enable

  # Load Site Standards (Timers, Policy Names)
  # If using NetBox Config Contexts, you can skip this vars_files section.
  vars_files:
    - "{{ playbook_dir }}/../../group_vars/site_standards.yml"

  tasks:
    - name: Generate Interface Configuration
      set_fact:
        final_config: "{{ lookup('template', playbook_dir ~ '/../../templates/universal_interface.j2') }}"

    - name: Push Configuration to Device
      cisco.ios.ios_config:
        src: "{{ playbook_dir }}/../../templates/universal_interface.j2"
      register: deploy_result

    - name: Display Changes
      debug:
        var: deploy_result.updates
