---
#roles/vlan/tasks/main.yml
- name: Build VLAN config from host_vars
  set_fact:
    vlan_config: |
      {% for v in vlans %}
      - vlan_id: {{ v.id }}
        name: {{ v.name }}
        state: {{ 'active' if v.state == 'present' else 'suspend' }}
      {% endfor %}

- name: Apply VLANs using ios_vlans
  cisco.ios.ios_vlans:
    config: "{{ vlan_config | from_yaml }}"
    state: merged

# - name: Show backup path returned by module
#   debug:
#     var: ios_cfg_result.backup

# - name: Copy backup from controller to persistent location (example)
#   delegate_to: localhost
#   ansible.builtin.copy:
#     src: "{{ ios_cfg_result.backup }}"
#     dest: "/srv/ansible_backups/{{ inventory_hostname }}-{{ ansible_date_time.iso8601 }}.cfg"
#   when: ios_cfg_result.backup is defined


- name: Verify VLAN configuration (show vlan brief)
  cisco.ios.ios_command:
    commands:
      - show vlan brief
  register: vlan_show
  changed_when: false

- name: Display VLAN verification output
  ansible.builtin.debug:
    var: vlan_show.stdout_lines


- name: Render VLAN template to variable
  set_fact:
    vlans_cfg: "{{ lookup('template', 'vlans.j2') }}"
