---
- name: Backup running config locally
  cisco.ios.ios_config:
    backup: yes
    backup_options:
      filename: "{{ inventory_hostname }}.cfg"
      dir_path: /tmp

- name: Upload backup to SFTP server
  delegate_to: localhost
  ansible.builtin.sftp:
    src: "{{ local_tmp }}"
    dest: "/ios/{{ inventory_hostname }}-{{ timestamp }}.cfg"
    mode: put
    username: backupuser
    password: "{{ backup_sftp_password }}"
    host: 192.168.29.125

- name: Cleanup local temp file
  delegate_to: localhost
  file:
    path: "{{ local_tmp }}"
    state: absent
