---
- name: Upload backup file to device flash
  ansible.netcommon.net_put:
    src: "{{ backup_full_path }}"
    dest: "bootflash/{{ backup_filename }}"
  vars:
    ansible_command_timeout: 180

- name: Verify uploaded file exists
  cisco.ios.ios_command:
    commands:
      - "dir bootflash: | include {{ backup_filename }}"
  register: flash_check

- name: Fail if file not found on flash
  fail:
    msg: "Backup file {{ backup_filename }} not found on device bootflash!"
  when: flash_check.stdout[0] is not search(backup_filename)

- name: Restore config using configure replace
  cisco.ios.ios_command:
    commands:
      - "configure replace bootflash:{{ backup_filename }} force"
  register: restore_output

- debug:
    var: restore_output.stdout_lines
