---
- name: Deploy Universal Interface Configuration
  hosts: device_roles_user_access_switch
  gather_facts: no
  become: yes
  become_method: enable
  
  vars_files:
    - "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
    - "{{ playbook_dir }}/../../group_vars/all.yml"

  roles:
    - ios_common/interface
