- name: Interface enforcement
  hosts: IN-HYD-CD01
  gather_facts: no
  connection: network_cli

  vars:
    ansible_network_os: cisco.ios.ios
    
  roles:
    - role: ios_common/interface
      tags: [interface]
