---
- name: IOS | LOGGING APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  
  vars:
    ansible_connection: network_cli
    ansible_network_os: cisco.ios.ios

  vars_files:
    - "{{ lookup('file', playbook_dir + '../templates/logging.j2') }}"

  tasks:
   - name: Load host-specific vars explicitly & global Vars
     include_vars:
       file: "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
    
   - name: Apply logging configuration
     tasks_from: roles/ios_common/logging/apply.yml
