---
- name: IOS | LOGGING APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  
  vars_files:
  - "{{ lookup('file', playbook_dir + '/../../group_vars/all.yml') }}"


  vars:
    ansible_connection: network_cli
    ansible_network_os: cisco.ios.ios

  tasks:
    - name: Load host-specific vars explicitly
      include_vars:
        file: "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
        
    - name: Apply logging configuration
      tasks_from: roles/ios_common/logging/apply.yml
        
