---
- name: IOS | LOGGING APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  
  vars:
    ansible_connection: network_cli
    ansible_network_os: cisco.ios.ios

  vars_files:
    - "{{ playbook_dir }}/../../group_vars/all.yml"

  tasks:
   - name: Load host-specific vars explicitly & global Vars
     include_vars:
       file: "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
   # 1. Add this Debug task to confirm the playbook flow works
   - name: CHECKPOINT - Variables Loaded
     debug:
       msg: "Variables are loaded. Now attempting to run the role."

  # --- ADD THIS DEBUG BLOCK ---
   - name: DEBUG - Show me the actual file content on the runner
     delegate_to: localhost
     command: "cat {{ playbook_dir }}/../../roles/ios_common/tasks/logging/apply.yml"
     register: file_check
     ignore_errors: yes

   - name: DEBUG - Print file content
     debug:
       var: file_check.stdout_lines
   # ----------------------------
    
   - name: Apply logging configuration
     include_role:
       name: ios_common 
       tasks_from: logging/apply.yml
