---
- name: IOS | LOGGING APPLY
  hosts: platforms_cisco-ios
  gather_facts: no

  vars:
    ansible_connection: network_cli
    ansible_network_os: cisco.ios.ios

  tasks:
    - name: Apply logging configuration
      import_role:
        name: ios_common
        tasks_from: logging/apply.yml
