---
- name: IOS | LOGGING APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  
  vars:
    ansible_connection: network_cli
    ansible_network_os: cisco.ios.ios

  vars_files:
    - "{{ playbook_dir }}/../../group_vars/all.yml"

  tasks:
   - name: Load host-specific vars explicitly & global Vars
     include_vars:
       file: "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
    
- name: Apply Common Role
     include_role:
       name: ios_common/logging
     tags: apply
