---
- name: IOS | LOGGING APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  become: yes
  become_method: enable

  # Load variables (where you defined logging_hosts and source_interface)
  vars_files:
    - "{{ playbook_dir }}/../../group_vars/all.yml"
    - "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
    

  tasks:
    - name: "Apply Logging Configuration"
      cisco.ios.ios_config:
        # Pointing to your template location
        src: "logging.j2"
      register: logging_result

    - name: "Display Changes"
      debug:
        var: logging_result.updates

    - name: "Save Configuration"
      cisco.ios.ios_config:
        save_when: modified
