---
- name: IOS | LOGGING APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  
  vars:
    ansible_connection: network_cli
    ansible_network_os: cisco.ios.ios

  vars_files:
    - "{{ playbook_dir }}/../../group_vars/all.yml"

  tasks:
   - name: Load host-specific vars explicitly & global Vars
     include_vars:
       file: "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
   # 1. Add this Debug task to confirm the playbook flow works
   - name: CHECKPOINT - Variables Loaded
     debug:
       msg: "Variables are loaded. Now attempting to run the role."
    
   - name: Apply logging configuration
     include_role:
       name: ios_common 
       tasks_from: logging/apply.yml
