---
- name: IOS | NTP APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  become: yes
  become_method: enable

  vars_files:
    - "{{ playbook_dir }}/../../group_vars/all.yml"
    - "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"

  tasks:
    - name: "Apply NTP Configuration"
      cisco.ios.ios_config:
        # Steps out of 'playbooks/' to find 'templates/'
        src: "ntp.j2"
      register: ntp_result

    - name: "Display Changes"
      debug:
        var: ntp_result.updates

    - name: "Save Configuration"
      cisco.ios.ios_config:
        save_when: modified
