---
- name: IOS | SNMP APPLY
  hosts: platforms_cisco-ios
  gather_facts: no
  become: yes
  become_method: enable

  # Load variables
  vars_files:
    - "{{ playbook_dir }}/../../group_vars/all.yml"
    - "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"

  tasks:
    - name: "Apply SNMP Configuration"
      cisco.ios.ios_config:
        src: "snmp.j2"
      register: snmp_result

    - name: "Display Changes"
      debug:
        var: snmp_result.updates

    - name: "Save Configuration"
      cisco.ios.ios_config:
        save_when: modified
