#logic Working - Need to work on host filtering 
---
- name: Deploy VLANs via role to Cisco IOS
  hosts: device_roles_user_access_switch
  gather_facts: no

  vars_files:
    - "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
  
  roles:
    - role: ios_common/vlan
      vars:
        template_file: "{{ lookup('template', playbook_dir ~ '/../../templates/vlans.j2') }}"
        commit: true
