! --- Remove NTP Servers ---
{% for server in ntp_servers %}
no ntp server {{ server }}
{% endfor %}

! --- Remove NTP Source ---
{% if ntp_source_interface is defined %}
no ntp source {{ source_interface }}
{% endif %}

! --- Remove Timezone ---
no clock timezone {{ timezone_name }}

! --- Disable Calendar Update ---
no ntp update-calendar
