! --- Remove NMS Hosts (Trap Destinations) ---
{% if 'device_roles_user_access_switch' in group_names %}
 ! Access Switches (Remove Auth Hosts)
 {% for host in nms_hosts %}
 no snmp-server host {{ host }} version 3 auth {{ snmp_user }}
 {% endfor %}
{% else %}
 ! Core Switches (Remove Priv Hosts)
 {% for host in nms_hosts %}
 no snmp-server host {{ host }} version 3 priv {{ snmp_user }}
 {% endfor %}
{% endif %}

! --- Disable Traps ---
no snmp-server enable traps syslog
no snmp-server enable traps ospf
no snmp-server enable traps ethernet evc
no snmp-server enable traps snmp

! remove Source Interface for Traps
{% if source_interface is defined %}
no snmp-server trap-source {{ source_interface }}
{% endif %}

! --- Remove Communities ---
no snmp-server community public RO {{ snmp_acl }}
no snmp-server community private RW {{ snmp_acl }}

! --- Remove User and Group ---
no snmp-server user {{ snmp_user }} {{ snmp_group_name }} v3

{# FIX: Add specific keywords (auth/priv) to satisfy IOS syntax #}
{% if 'device_roles_user_access_switch' in group_names %}
 ! Access Switches (Auth)
 no snmp-server group {{ snmp_group_name }} v3 auth
{% else %}
 ! Core Switches (Priv)
 no snmp-server group {{ snmp_group_name }} v3 priv
{% endif %}

! --- Remove Custom View (Core Only) ---
{% if 'device_roles_core_distribution_switch' in group_names %}
no snmp-server view {{ snmp_view }}
{% endif %}

! --- Remove ACL ---
no ip access-list standard {{ snmp_acl }}

! --- Reset System Info ---
no snmp-server contact
no snmp-server location
