#Test working
---
- name: Deploy SNMPv3 config
  hosts: platforms_cisco-ios
  gather_facts: no

  pre_tasks:
    - name: Load Global Vars (Fixes 'snmp_view is undefined')
      include_vars:
        file: "{{ playbook_dir }}/../../group_vars/all.yml"

    - name: Load Host Vars
      include_vars:
        file: "{{ playbook_dir }}/../../host_vars/{{ inventory_hostname }}.yml"
  
  roles:
    - role: logging_snmp
      vars:
        template_file: 
          - logging.j2
          - snmp.j2
        commit: true
